#root {
  width: 100%;
  min-height: 100%;
  background:rgba(0,0,0,0.1);
  position: absolute;
}
.marginLeft20 {
  margin-left:20px;
}

.nameInput {
    width: 80%;
    left: 10%;
    position: relative;
}

.is-invalid{
  border-color: #dc3545;
}

.weapon {
  background: white;
  border: 2px solid grey;
  border-radius: 7px;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
  transition: .8s
}

.weapon:hover{
  -webkit-box-shadow: 0px 0px 59px -8px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 59px -8px rgba(0,0,0,1);
  box-shadow: 0px 0px 59px -8px rgba(0,0,0,1);
}

.App {
  background-color: rgba(255,255,255, 0.9);
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  margin-top: 75px;
}